.Header {
    text-align: center;
    background-color: #F5F4F3;
    min-height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 90px;
    z-index: 266;

    display: grid; 
    grid-template-columns: 30% 35% 35%;
    grid-column-gap: 10px;
}

.Phone {
    font-size: 18px;
    font-size: 20px;
    font-weight: bold;
}
.Office {
    top: 10px;
    font-size: 23px;
    font-weight: bold;
}
.Office_span {
    margin-top: 20px;
}