.Header {
    text-align: center;
    background-color: #F5F4F3;
    min-height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 90px;
    z-index: 266;

    display: grid; 
    grid-template-columns: 30% 35% 35%;
    grid-column-gap: 10px;
}
.HamburgerButton {
    opacity: 0;
}

@media (max-width: 576px) {
    .Contacts {
        display: none;
    }
    .Office_span {
        display: none;
    }
    .Icon1 {
        display: none;
    }
    .Header {
        background: none;
        grid-template-columns: auto 90px;
        /* opacity: 0; */
    }
    .HamburgerButton {
        opacity: 1;
        /* background-color: blanchedalmond; */
    }
}
/* @media (min-width: 768px) {

}
@media (min-width: 1200px) {

} */

.Phone {
    font-size: 18px;
    font-size: 20px;
    font-weight: bold;
}
.Office {
    top: 10px;
    font-size: 23px;
    font-weight: bold;
}
.Office_span {
    margin-top: 20px;
}