.Block1 {
    margin-top: 30px;
    height: 437px;
    background-color: white;
    border: 10px solid rgb(153, 192, 89);
    /* border-color: rgb(153, 192, 89); */

    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.Bage {
    position: relative;
    left: -50px;
    top: -50px;
}

.BadeFoto {
    height: 220px;
    width: 360px;
    background-color: thistle;
    position: relative;
    left: 60px;
    top: 60px;

    border: 7px solid rgb(255, 188, 57);
    
    background: url(./fon.jpg);
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Order1 {
    background-color: rgb(255, 188, 57);
    border-radius: 10px;

    height: 437px;

    position: relative;
    left: -10px;
    top: -30px;
}
.Order2 {
    border: 7px solid white;
    border-radius: 10px;
    background-color: rgb(255, 188, 57);
    height: 400px;
    margin: 10px;
}

.Block1_content {
    text-align: center;
}

.p1 {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    margin-top: 100px;
}

.p2 {
    font-size: 20px;
    /* font-weight: bold; */
    margin: 10px;
    margin-top: 30px;
}