.Order1 {
    background-color: rgb(255, 188, 57);
    border-radius: 10px;

    /* height: 437px; */

    position: relative;
    left: 0px;
    top: 0px;
}
.Order2 {
    border: 7px solid white;
    border-radius: 10px;
    background-color: rgb(255, 188, 57);
    /* height: 400px; */
    margin: 10px;
}

.Block1 {
    margin-top: 30px;
    height: 80%;
    background-color: white;
    border: 10px solid rgb(153, 192, 89);
    /* border-color: rgb(153, 192, 89); */

    display: grid;
    grid-template-columns: 100%;
}
@media (min-width: 576px) {
    .Block1 {
        display: grid;
        grid-template-columns: 100%;
    }
    .Order1 {

        left: 0px;
        top: 0px;
        /* margin: 40px 20px; */
    }
    
}
@media (min-width: 768px) {
    .Block1 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .Order1 {
        grid-column-start: 1;
        grid-column-end: 3;

        left: 0px;
        top: 0px;
        margin: 40px 20px;
    }
}
@media (min-width: 1200px) {
    .Block1 {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        height: 400px;
    }
    .Order1 {
        grid-column-start: 3;
        grid-column-end: 3;
        left: -10px;
        top: -70px;
    }
}

.button a {
    background-color: rgb(153, 192, 89);
    text-decoration: none;
    color: white;
    text-decoration: none;

    display: table; 
    margin: 20px auto; 
    text-align: center;

    padding: 10px;
    border: 2px solid rgb(124, 155, 74);
    border-radius: 3px;
}
.button a:hover {
    background-color: rgb(124, 155, 74);
}

.Bage {
    position: relative;
    left: -50px;
    top: -50px;
}

.BadeFoto {
    height: 200px;
    width: 80%;

    /* width: 75%;
    height: 45%; */

    position: relative;
    left: 60px;
    top: 60px;

    border: 7px solid rgb(255, 188, 57);
    
    background: url(./fon.jpg);
    /* background-position: center; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
}

.Block1_content {
    text-align: center;
    padding-left: 20px;
}

.p1 {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    margin-top: 100px;
}

.p2 {
    font-size: 20px;
    /* font-weight: bold; */
    margin: 10px;
    margin-top: 30px;
    font-weight: bold;
}

.p3 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.p4 {
    color: rgb(105, 105, 105);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.input {
    height: 30px;
}

.Input_block {
    display: table; 
    margin: 10px auto; 
    text-align: center;
}